# --- EXCLUSIONES GENERALES ---
data/
logs/
archive_legacy/
notebooks/
jobs/
utils/
aphasia_output/
backup_dic2025/
catboost_info/
job_venv/
resultados_experimentos_svr_completo.csv
*.pt
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
*.txt
*.sh
*.tar.gz
*.zip

# --- REGLAS DE LA CARPETA OUTPUTS ---
# 1. Ignoramos TODO lo que hay en outputs por defecto
outputs/*

# 2. Pero PERMITIMOS entrar en la carpeta experiments (solo entrar, no el contenido aún)
!outputs/experiments/

# 3. Ahora ignoramos TODO lo que hay dentro de experiments
outputs/experiments/*

# 4. Y finalmente hacemos las excepciones para lo que SÍ quieres guardar
!outputs/experiments/best_models/
!outputs/experiments/best_models/**

!outputs/experiments/ENSEMBLE_FINAL/
!outputs/experiments/ENSEMBLE_FINAL/**