# Datos y resultados (excluir completamente)
data/
logs/
archive_legacy/
notebooks/
jobs/
utils/
aphasia_output/
outputs/


# Modelos pesados
*.pt

# Cosas comunes que no quieres en el repo (opcional)
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
